body {
    margin: 0;
    position: relative;
    height: 100vh;
    font-family: sans-serif;
    font-size: 20px;
}

#ui, #canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

#arrow {
    position: absolute;
}

#arrow-icon-holder {
    width:0;
    height:0;
}

#arrow-icon {
    width: 1rem;
    height: 1rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: red;
}

#ui {
    display: flex;
}

#inventory {
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

#algorithm {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

#slots {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 0;
    padding-left: 2ch;
}

#space {
    background-color: white;
}

.instruction, .slot {
    line-height: 1;
    border-radius: 1em;
    width: 22ch;
    user-select: none;
}

.instruction {
    padding: 0.3em 0.6em;
    background-color: white;
    box-shadow: 0 2px 0 0 #a5a5a5;    
}

.slot {
    background-color: #a5a5a5;
    box-shadow: inset 0 2px 0 0 #818181;    
    height: 1em;
}

.dragging {
    z-index: 999999;
    position: absolute;
}